body{
 background-color: #7c3aed;
 box-shadow:inset 0 0 120px rgba(255, 255, 255, 0.15);
  font-size:18px;
  width:80%;
  text-align:center;
}

@media screen and (max-width: 768px) {
  body{
    font-size:16px;
  }
  }

  #navbar{
    display:block;
  }

  a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    padding:5px;
    display:block;
    border-bottom:1px solid black;
    cursor:pointer;
  }

  a:hover{
    background-color:black;
    color:white;
  }

  code{
    background-color: rgba(0, 0, 0, 0.514);
    color:aliceblue;
  }
